@inherits LayoutComponentBase

<PageTitle>Blazor.Server</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row">
            <AuthorizeView>
                <NotAuthorized>
                    <NavLink class="nav-link" href="login">
                        <span class="oi oi-account-login" aria-hidden="true"></span> Login
                    </NavLink>
                    <NavLink class="nav-link" href="register">
                        <span class="oi oi-share-boxed" aria-hidden="true"></span> Register
                    </NavLink>
                </NotAuthorized>
                <Authorized>
                    Welcome @context.User.FindFirst(ClaimTypes.Email).Value
                    <NavLink class="nav-link" href="logout">
                        <span class="oi oi-account-logout" aria-hidden="true"></span> Logout
                    </NavLink>
                </Authorized>
            </AuthorizeView>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

@code {
    [Inject] private AppState _appState { get; set; }
    protected bool ShowLoginFailed { get; private set; } = false;

    [CascadingParameter] Task<AuthenticationStateProvider>? authenticationStateTask { get; set; }
    AuthenticationState AuthState;
    private string? _authMessage;


    protected override void OnInitialized()
    {
        base.OnInitialized();
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        var result = await _appState.GetLocalStorageToken();

        if (_appState.IsLoggedIn)
        {
            ShowLoginFailed = true;
        }
        await base.OnAfterRenderAsync(firstRender);
    }
}
