@page "/login"

@using Blazor.Data.Models
@using Blazor.Server.Models

<div class="auth-page">
    <div class="container page">
        <div class="row">
            <div class="col-md-6 offset-md-3 col-xs-12">
                <h1 class="text-xs-center">Sign in</h1>
                <p class="text-xs-center">
                    <a href="/register">Need an account?</a>
                </p>
                @if (ShowLoginFailed)
                {
                    <div class="alert alert-danger">
                        Login attempt failed.
                    </div>
                }
                <form>
                    <fieldset class="form-group">
                        <input class="form-control form-control-lg" type="email" placeholder="Email" @bind="_loginCommand.Email" />
                    </fieldset>
                    <fieldset class="form-group">
                        <input class="form-control form-control-lg" type="password" placeholder="Password" @bind="_loginCommand.Password" />
                    </fieldset>
                    <button class="btn btn-lg btn-primary pull-xs-right" type="button" @onclick="LoginUser">
                        Login
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>

@code {
    [Inject] private AppState _appState { get; set; }
    [Inject] public NavigationManager? _urlNavigationManager  { get; set; }

    protected LoginCommand _loginCommand { get; set; } = new LoginCommand();
    protected bool ShowLoginFailed { get; set; }

    protected async Task LoginUser()
    {
        await _appState.Login(_loginCommand);

        if (_appState.IsLoggedIn)
        {
            _urlNavigationManager.NavigateTo("/");
        }
        else
        {
            ShowLoginFailed = true;
        }
    }
}
